<%- include("./include/_header.ejs") %>


  <!-- Main -->
  <main id="site-main">
		<div class="container">
			<h3>사용자 등록</h3>

			<form class="register" method="POST" action="/register">
				<label for="username"><b>아이디</b></label>
				<input type="text" placeholder="아이디" name="username" id="username">
				<label for="password"><b>비밀번호</b></label>
				<input type="password" placeholder="비밀번호" name="password" id="password">
				<label for="confirmPassword"><b>비밀번호 확인</b></label>
				<input type="password" placeholder="비밀번호 확인" name="confirmPassword" id="confirmPassword">
				<input type="submit" value="등록" class="register-btn">
			</form>    
		</div>
  </main>
  <!-- /Main -->

	<%- include("./include/_footer.ejs") %>